*{
    box-sizing: border-box;
    COLOR:black;
}
body{
    margin: 0;
    padding: 0;
    background-color:#141414;
    width: 95%;
    margin: auto ;
    height: 100vh;   
    width: 80vw;
    position:relative ;
}
#side_bar{
    background-color: #A4B28B;
    display: flex;
    flex-direction: column;
    width:20%;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 1000;
    border-right: 2px solid #141414;
}
.username h3{
    text-align: center;
    margin: 0;
}
.username hr{
    border:none;
    border: 1px solid #141414;
    width: 80%;
}
.pfp img{
    width: 100%;
}
.pfp{
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 2rem auto;
    border:3px solid black;
}
.nav_section{
    text-transform: capitalize;
    margin-left: 0.5rem;
    
}
.dtp1 a,.dtp2 a,.dtp3 a,.dtp4 a,.dtp5 a,.dtp6 a,.dtp7 a,.dtp8 a{
    text-decoration:none;
    font-size: 1.2rem;
}
.dtp1,.dtp2,.dtp3,.dtp4,.dtp5,.dtp6,.dtp7,.dtp8{
    padding: 0.4rem;
    
    border-radius:5px;
    margin: 1rem;
    transition: transform 0.3s ease;
}
.dtp1:hover,.dtp2:hover,.dtp3:hover,.dtp4:hover,.dtp5:hover,.dtp6:hover,.dtp7:hover,.dtp8:hover{
    background-color:#b6c996;
    transform:translateY(-2px);
    border:1px solid black;
}

#header{
    width:80%;
    height: 7%;
    position: absolute;
    top:0;
    left:20%;
    display: flex;
    justify-content: space-between;
    background-color: #8f9d71;
    border-bottom:2px solid #141414;
}

.txt,.srch{
    margin: 1rem;
}
.txt1{
    color:aqua
}
.txt2{
    color:whitesmoke
}
#main_container{
    width: 80%;
    position: absolute;
    top:7%;
    left:20%;
    height: 93%;
    background-color: #b6c996;
}
.section{
    background-color: #b6c996;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}


.motivation,.date{
    margin: 0 1rem;
}
.date{
    align-self: first baseline;
}
.name{
    background-color: #b6c996;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}
.motivation{
    width: 60%;
}
.cards{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    overflow-y:auto;
    scroll-behavior: smooth;
    scrollbar-width:auto;
    height: 70%;
    padding-top: 0.5rem;

}
.c1 {
    width: 90%;
    margin: auto;
    background-color: aliceblue;
    padding:1rem ;
    border-radius: 40px;
    transition: transform 0.3s ease;
}
.c1:hover{
    transform: translateY(-2px);
}
.c1 h3{
    padding-left: 0.7rem;
}
.pending_list,.habit_pending_list{
    background-color:aliceblue;
    width: 90%;
}
.cards h4{
    padding: 0;
    margin-top: 0.6rem;
    margin-bottom: 0;
}
.pc_box,.habit_list{
    display: flex;
    gap:4rem;
    padding-left: 2rem;
}
.pending ,.completed{
    width:300px;
}
